@tailwind base;
@tailwind components;
@tailwind utilities;

.OrSDI {
    background-color: rgba(223, 223, 223, 0.753);
    padding: 0px 2px;
    border-radius: 2px
}

@media (prefers-color-scheme: dark) {
    .OrSDI {
        background-color: rgba(134, 134, 134, 0.753);
        color:white;
    }
}

html { scroll-behavior: smooth; } 